In [2]:
# Importing the libraries
import numpy as np
import pandas as pd
import math

import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Setting max display column limit
pd.set_option("display.max_columns", None)

# Use Seaborn's style
import seaborn as sns
sns.set_theme(style="whitegrid")  # modern, clean style

# Font and label styling
import matplotlib.pyplot as plt
plt.rcParams["font.weight"] = "bold"
plt.rcParams["axes.labelweight"] = "bold"
plt.rcParams["axes.titlesize"] = 25
plt.rcParams["axes.titleweight"] = "bold"
plt.rcParams["xtick.labelsize"] = 15
plt.rcParams["ytick.labelsize"] = 15
plt.rcParams["axes.labelsize"] = 20
plt.rcParams["legend.fontsize"] = 15
plt.rcParams["legend.title_fontsize"] = 15

In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Bike sharing.csv")

# Check total rows and columns
print(f'The shape of dataset is {df.shape} \nTotal Rows are: {df.shape[0]}\nTotal Columns are: {df.shape[1]}')

The shape of dataset is (10886, 12)
Total Rows are: 10886
Total Columns are: 12

In [5]:
# Preview the dataset
print(df.head())

           datetime  season  holiday  workingday  weather  temp   atemp  \
0  01-01-2011 00:00       1        0           0        1  9.84  14.395
1  01-01-2011 01:00       1        0           0        1  9.02  13.635
2  01-01-2011 02:00       1        0           0        1  9.02  13.635
3  01-01-2011 03:00       1        0           0        1  9.84  14.395
4  01-01-2011 04:00       1        0           0        1  9.84  14.395

   humidity  windspeed  casual  registered  count
0        81        0.0       3          13     16
1        80        0.0       8          32     40
2        80        0.0       5          27     32
3        75        0.0       3          10     13
4        75        0.0       0           1      1

In [6]:
print(df.tail())

               datetime  season  holiday  workingday  weather   temp   atemp  \
10881  19-12-2012 19:00       4        0           1        1  15.58  19.695
10882  19-12-2012 20:00       4        0           1        1  14.76  17.425
10883  19-12-2012 21:00       4        0           1        1  13.94  15.910
10884  19-12-2012 22:00       4        0           1        1  13.94  17.425
10885  19-12-2012 23:00       4        0           1        1  13.12  16.665

       humidity  windspeed  casual  registered  count
10881        50    26.0027       7         329    336
10882        57    15.0013      10         231    241
10883        61    15.0013       4         164    168
10884        61     6.0032      12         117    129
10885        66     8.9981       4          84     88

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB
None

In [8]:
print(df.isnull().sum())

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [9]:
df.describe(include = 'all')

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
unique,10886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,01-01-2011 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,NaN,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,NaN,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,NaN,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,NaN,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,NaN,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,NaN,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [10]:
df.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [11]:
df['datetime'] = pd.to_datetime(df['datetime'], dayfirst=True, errors='coerce')

In [12]:
# Creating new columns 'Month', 'Year', and 'Day'
df['Month'] = df['datetime'].dt.month
df['Year'] = df['datetime'].dt.year
df['Day'] = df['datetime'].dt.day_name()

In [13]:
# Creating a new column: 1 if weekend, 0 if weekday
df['Weekdays_or_weekend'] = df['Day'].apply(lambda x: 1 if x == 'Saturday' or x == 'Sunday' else 0)

In [14]:
# Drop the original 'datetime' and 'Day' columns
df.drop(['datetime', 'Day'], axis=1, inplace=True)

In [15]:
# Check the first 2 rows with the newly created columns
df.head(2)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Month,Year,Weekdays_or_weekend
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,2011,1
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,2011,1

In [16]:
# Get distinct counts for season categories
df['season'].value_counts()

season
4    2734
2    2733
3    2733
1    2686
Name: count, dtype: int64

In [17]:
# Get distinct counts for holiday categories
df['holiday'].value_counts()

holiday
0    10575
1      311
Name: count, dtype: int64

In [18]:
# Get distinct counts for working day categories
df['workingday'].value_counts()

workingday
1    7412
0    3474
Name: count, dtype: int64

In [19]:
# Get distinct counts for Month categories
df['Month'].value_counts()

Month
5     912
6     912
7     912
8     912
12    912
10    911
11    911
4     909
9     909
2     901
3     901
1     884
Name: count, dtype: int64

In [20]:
# Get distinct counts for Weekdays vs Weekend
df['Weekdays_or_weekend'].value_counts()

Weekdays_or_weekend
0    7723
1    3163
Name: count, dtype: int64

In [21]:
# Check the summary statistics of the dataset
df.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,Month,Year,Weekdays_or_weekend
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132,6.521495,2011.501929,0.290557
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454,3.444373,0.500019,0.454040
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2011.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000,4.000000,2011.000000,0.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000,7.000000,2012.000000,0.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000,10.000000,2012.000000,1.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000,12.000000,2012.000000,1.000000

In [22]:
# Checking duplicate rows in the dataset
duplicates = df.duplicated().sum()
print(f"We have {duplicates} duplicate rows in our Bike Data.")

We have 19 duplicate rows in our Bike Data.